p {
    font-size: 1.5rem;
}
/* HEADER SECTION */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.menu {
    width: 60%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2rem;
}

ul li:hover {
    cursor: pointer;
    font-weight: 700;
}
/* MAIN SECTION */
/* Hero Sectiont */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section--content {
    inline-size: 50%;
    text-align: left;
}

.hero-buttons--container {
    align-items: flex-start;
}

.hero-image--container {
    max-inline-size: 550px;
}

.about-image--container {
    width: 420px;
}

.section-about--content {
    width: 50%;
    padding: 35px;
    text-align: left;
    margin-inline-start: 35px;
}

section:nth-of-type(3),
section:last-of-type {
    flex-direction: column;
}
.stats-content {
    display: flex;
}

.stats-description {
    display: flex;
    margin-block-start: 25px;
}

.stats-description--container {
    inline-size: 50%;
    text-align: left;
}

.stats-image--container {
    inline-size: 500px;
}

.cards-container {
    display: flex;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content figure {
    margin: 0;
}

.footer-content figure:last-child {
    inline-size: 186px;
}